{{#with (getProperty @root.context.metaData.checkup section) ~}}
<form action="/checkup/{{next_section}}" method="post" class="checkup-section b-padding-full" id="checkup-{{../section}}">
  {{> checkup_scores section=@root.request.body.score-section}}
  <input type="hidden" name="score-section" value="{{../section}}" />
  <div class="checkup-section-header b-padding-full v-margin-full">
    <div class="container-fluid">
      <div class="container-content">
        {{#if progress ~}}
        {{> checkup_progress progress=progress}}
        {{/if ~}}
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              {{#ifAll icon title ~}}
              <img src="{{~>asset_url url=(concat 'images/icon-' icon '@2x.png')~}}" title="{{title}}" class="icon" />
              {{/ifAll ~}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
              {{#if name ~}}
              <div class="mdc-typography--body2">{{{name}}}</div>
              {{/if ~}}
              {{#if title ~}}
              <h1 class="mdc-typography--headline3">{{{title}}}</h1>
              {{/if ~}}
              {{#if description ~}}
              <div class="mdc-typography--body1">{{{description}}}</div>
              {{/if ~}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-content">
      <div class="mdc-typography--body2">
        * required information
      </div>
      {{#each questions ~}}
      <div class="question-block mdc-elevation--z3">
        <div class="question">
          {{#if title ~}}
          <h2 class="mdc-typography--headline5 question-title">{{{title}}}</h2>
          {{/if ~}}
          {{#if description ~}}
          <div class="mdc-typography--body1 question-description">{{{description}}}</div>
          {{/if ~}}
        </div>
        {{#ifAny (compare type "select-one") (compare type "select-many") ~}}
        <ul class="answer-block">
          {{#each options ~}}
          {{#switch ../type ~}}
          {{#case "select-one" ~}}
          {{#if answer ~}}
          <li class="answer">{{> components_radio_button label=answer id=(slugify answer) name=(if (compare ../../section "===" "section-6") ../value else=(concat "scores-" ../value)) value=(default score value) required="true"}}</li>
          {{/if ~}}
          {{/case ~}}
          {{#case "select-many" ~}}
          {{#if answer ~}}
          <li class="answer">{{> components_checkbox label=answer id=(slugify answer) name="scores" value=(default score value)}}</li>
          {{/if ~}}
          {{/case ~}}
          {{/switch ~}}
          {{/each ~}}
        </ul>
        {{/ifAny ~}}
      </div>
      {{/each ~}}
      <div class="cta b-padding-full">
        <button type="submit" class="mdc-button mdc-button--raised">Next section</button>
      </div>
    </div>
  </div>
</form>
{{/with ~}}