<title>{{#if @root.route.metaData.title}}{{@root.route.metaData.title}} – {{/if}}{{@root.data.currentSite.title}}</title>
<meta property="og:title" content="{{#if @root.route.metaData.title}}{{@root.route.metaData.title}} – {{/if}}{{@root.data.currentSite.title}}" data-dynamic="true">
<meta property="og:summary" content="{{@root.data.currentSite.description}}" data-dynamic="true">
<meta name="description" content="{{@root.data.currentSite.description}}" data-dynamic="true">