<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="https://github.com/douglascrockford/JSON-js/raw/master/json2.js"></script>

<script type="text/javascript">
// JSON to CSV Converter
function ConvertToCSV(objArray) {
  var array = typeof objArray != 'object' ? JSON.parse(objArray): objArray;
  var str = '';

  var line = '';
  for (var index in array[0]) {
    if (line != '') line += ','
    line += index;
  }
  str += line + '\r\n';

  for (var i = 0; i < array.length; i++) {
    var line = '';
    for (var index in array[i]) {
      if (line != '') line += ','
      line += array[i][index];
    }
    str += line + '\r\n';
  }

  return str;
}
// Example
$(document).ready(function () {
  // Create Object
  var items = [
    {{#each @root.data.allResponses ~}}
    {{#compare this.site "housing" ~}}
    {
      "site": {{#if this.site}}{{{safeStringify this.site}}}{{else}}""{{/if}},
      "rid": {{#if this.rid}}{{{safeStringify this.rid}}}{{else}}""{{/if}},
      "sid": {{#if this.sid}}{{{safeStringify this.sid}}}{{else}}""{{/if}},
      "email": {{#if this.email}}{{{safeStringify this.email}}}{{else}}""{{/if}},
      "name": {{#if this.name}}{{{safeStringify this.name}}}{{else}}""{{/if}},
      "organisation": {{#if this.organisation}}{{{safeStringify this.organisation}}}{{else}}""{{/if}},
      "postcode": {{#if this.postcode}}{{{safeStringify this.postcode}}}{{else}}""{{/if}},
      "area": {{#if this.area}}{{{safeStringify this.area}}}{{else}}""{{/if}},
      "income_band": {{#if this.income_band}}{{{safeStringify this.income_band}}}{{else}}""{{/if}},
      "topic": {{#if this.topic}}{{{safeStringify this.topic}}}{{else}}""{{/if}},
      "next_project": {{#if this.next_project}}{{{safeStringify (replace (replace this.next_project '\n' ' ') ',' ' ')}}}{{else}}""{{/if}},
      "barriers": {{#if this.barriers}}{{{safeStringify (replace (replace this.barriers '\n' ' ') ',' ' ')}}}{{else}}""{{/if}},
      "support": {{#if this.support}}{{this.support}}{{else}}false{{/if}},
      {{#each (split 'section-1-q1 section-1-q2 section-1-q3 section-1-q4 section-2-q1 section-2-q2 section-2-q3 section-2-q4 section-2-q5 section-2-q6 section-2-q7 section-2-q8 section-3-q1 section-3-q2 section-4-q1 section-4-q2 section-4-q3 section-4-q4 section-4-q5 section-5-q1 section-5-q2 section-6-q1 section-6-q2 section-6-q3' ' ') ~}}
      {{#each (filter (keyValue ../this) "key" "testIn" this) ~}}
      {{#if value ~}}
      {{{safeStringify key}}}: {{{safeStringify (replace (replace value '\n' ' ') ',' ' ')}}},
      {{else}}
      {{{safeStringify key}}}: "",
      {{/if}}
      {{/each ~}}
      {{/each ~}}
      "percentage_tools_and_equipment": {{#if this.percentage_tools_and_equipment}}{{this.percentage_tools_and_equipment}}{{else}}0{{/if}},
      "percentage_leadership_culture_and_skills": {{#if this.percentage_leadership_culture_and_skills}}{{this.percentage_leadership_culture_and_skills}}{{else}}0{{/if}},
      "percentage_tools_and_equipment": {{#if this.percentage_tools_and_equipment}}{{this.percentage_tools_and_equipment}}{{else}}0{{/if}},
      "percentage_content_marketing_and_data": {{#if this.percentage_content_marketing_and_data}}{{this.percentage_content_marketing_and_data}}{{else}}0{{/if}},
      "percentage_cyber_resilience": {{#if this.percentage_cyber_resilience}}{{this.percentage_cyber_resilience}}{{else}}0{{/if}},
      "percentage_tec": {{#if this.percentage_tec}}{{this.percentage_tec}}{{else}}0{{/if}},
      "percentage_total": {{#if this.percentage_total}}{{this.percentage_total}}{{else}}0{{/if}},
      "date_last_modified": {{#if this.date_last_modified}}{{{safeStringify this.date_last_modified}}}{{else}}""{{/if}}
    },
    {{/compare ~}}
    {{/each ~}}
    {}
  ];

  // Convert Object to JSON
  var jsonObject = JSON.stringify(items);

  // // Display JSON
  // $('#json').text(jsonObject);

  // Convert JSON to CSV & Display CSV
  $('#csv').attr('href', 'data:application/csv;charset=utf-8,'+encodeURI(ConvertToCSV(jsonObject)));
});
</script>

<div class="container-fluid">
  <div class="container-content">
    {{!-- <h1>JSON</h1>
    <pre id="json"></pre> --}}
    <h1>Export of checkup data for SFHA</h1>
    <a download="sfha-checkup-export.csv" href="#" id="csv" class="mdc-button mdc-button--raised b-margin-full">Download CSV</a>
  </div>
</div>