{{#ifAny @root.request.params.query.slp @root.request.body.slp}}
  <div class="container-fluid" style="margin-top:3rem;">
    <div class="container-content">
      <h1 class="mdc-typography--headline3">
        Senior Leaders Programme
      </h1>
      <h3 class="mdc-typography--headline5">
        Please complete this checkup to start the Senior Leaders Programme application process
      </h3>
    </div>
  </div>
{{/ifAny}}
{{#if @root.request.params.section ~}}
  {{> checkup_section section=@root.request.params.section}}
{{else}}
  {{#ifAll @root.request.params.query.sid @root.data.rootResponse.organisation @root.data.rootResponse.name ~}}
    <div class="container-fluid" style="margin-top:3rem;">
      <div class="container-content">
        <h1 class="mdc-typography--headline3">
          Welcome to the {{@root.data.currentSite.for_singular}} digital checkup for {{@root.data.rootResponse.organisation}}
        </h1>
        <h3 class="mdc-typography--headline5">
          Please complete this checkup to see your results compared to answers from {{@root.data.rootResponse.name}}
        </h3>
      </div>
    </div>
  {{/ifAll ~}}
  {{#ifAll (compare @root.data.currentCheckup 'life') (compare @root.request.params.path "!==" "life_foundation-check")}}
    {{> checkup_section section="foundation"}}
  {{else}}
    {{> checkup_section section="section-1"}}
  {{/ifAll}}
{{/if ~}}