
{{#with (getProperty @root.data.checkup section) ~}}
<form action="/{{@root.data.currentCheckup}}/{{next_section}}" method="post" class="checkup-section" id="checkup-{{../section}}">
  {{> checkup_answers section=@root.request.body.answer-section}}
  <input type="hidden" name="answer-section" value="{{../section}}" />
  <div class="checkup-section-header-container">
    <div class="checkup-section-header header-{{#if color}}{{color}}{{else}}primary{{/if}}">
      <div class="container-fluid">
        <div class="container-content v-padding-full">
          <div class="mdc-layout-grid v-padding-full">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone" style="display:flex;align-items:center;">
                {{#ifAll icon title ~}}
                  {{#if (contains icon 'fa-')}}
                    <span class="far {{icon}} fa-4x fa-fw"></span>
                  {{else}}
                    <img src="{{~>asset_url url=(concat 'images/icon-' icon '@2x.png')~}}" title="{{title}}" class="icon" />
                  {{/if}}
                {{/ifAll ~}}
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-11-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
                {{#if name ~}}
                <div class="mdc-typography--body2">{{{name}}}</div>
                {{/if ~}}
                {{#if title ~}}
                <h1 class="mdc-typography--headline3">{{{title}}}</h1>
                {{/if ~}}
                {{#if description ~}}
                <div class="mdc-typography--body1">{{{description}}}</div>
                {{/if ~}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-grey-light b-padding-full">
    <div class="container-fluid">
      {{#if progress ~}}
      {{> checkup_progress progress=progress}}
      {{/if ~}}
      <div class="container-content v-padding-full">
        <div class="mdc-typography--body2">
          * required information
        </div>
        {{#each questions ~}}
        <fieldset class="question-block" {{#if show-when}}data-show-field="{{show-when.field}}" data-show-value="{{show-when.value}}"{{/if}}>
          <div class="question">
            {{#if title ~}}
            <h2 class="mdc-typography--headline5 question-title">{{{title}}}</h2>
            {{/if ~}}
            {{#if description ~}}
            <div class="mdc-typography--body1 question-description">{{{description}}}</div>
            {{/if ~}}
          </div>
          {{#ifAny (compare type "select-one") (compare type "select-many") ~}}
            <ul class="answer-block">
              {{#each options ~}}
              {{#switch ../type ~}}
              {{#case "select-one" ~}}
              {{#if answer ~}}
              <li class="answer">{{> local_components_radio_button supplementor=../value supplements=../supplements target=answer label=answer id=(slugify (concat answer ../value)) name=(concat "answers-" ../../../section "-" ../value) value=value required="true"}}</li>
              {{/if ~}}
              {{/case ~}}
              {{#case "select-many" ~}}
              {{#if answer ~}}
              <li class="answer">{{> local_components_checkbox supplementor=../value supplements=../supplements target=answer label=answer id=(slugify (concat answer ../value)) name=(concat "answers-" ../../../section "-" ../value) value=value}}</li>
              {{/if ~}}
              {{/case ~}}
              {{/switch ~}}
              {{/each ~}}
              {{!-- Supplementary options --}}
              {{#if supplementary-options}}
              <div data-container-of="{{slugify value}}" class="hidden">
                {{#each supplementary-options}}
                  {{#each this}}
                  <li class="answer" data-supplement-of={{slugify ../../value}} data-supplement="{{@../this.key}}" >{{> components_checkbox id=(concat "answers-" ../../../../section "-" ../../value "-supplement-" @index "-" @../index) supplement=@../this.key supplement-of=(slugify ../../value) label=answer name=(concat "answers-" ../../../../section "-" ../../value "-supplement") value=value}}</li>
                  {{/each}}
                {{/each}}
              </div>
              {{/if}}
            </ul>
          {{/ifAny ~}}
          {{#if (compare type "select-grid") ~}}
            <div class="answer-block answer-block-grid">
              <div class="answer-options">
                {{#each answer-options}}
                  <span class="answer-cell">{{answer}}</span>
                {{/each}}
              </div>
              {{#each options}}
                <div class="answer{{#if (modulo @index 2 1)}}{{else}} alt-row-bg{{/if}}">
                  {{answer}}
                </div>
                <div class="flex-answer-block{{#if (modulo @index 2 1)}}{{else}} alt-row-bg{{/if}}">
                  {{#each ../answer-options}}
                    <div class="cell">
                      {{> components_radio_button label=answer id=(slugify (concat ../answer "-" answer)) name=(concat "answers-" ../../../../section "-" ../../value "-" (slugify ../answer)) value=(default value answer) required="true"}}
                    </div>
                  {{/each}}
                </div>
              {{/each}}
            </div>
          {{/if}}
          {{#if (compare type "select-dropdown") ~}}
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                  <div class="answer-block">
                    <div class="mdc-select" data-mdc-auto-init="MDCSelect">
                      <span class="mdc-select__dropdown-icon"></span>
                      <select class="mdc-select__native-control supplements" {{#if supplements}}data-supplementor="{{slugify value}}"{{/if}} id="{{concat 'answers-' ../../section '-' (slugify value)}}" name="{{concat 'answers-' ../../section '-' value}}">
                        <option default selected disabled>Please select&hellip;</option>
                        {{#each options}}
                          <option data-supplement-target="{{answer}}" value="{{default value answer}}">{{answer}}</option>
                        {{/each}}
                      </select>
                      <div class="mdc-floating-label mdc-select__label--float-above" for="sort">
                        Category
                      </div>
                      <div class="mdc-line-ripple"></div>
                    </div>
                    {{!-- Supplementary options --}}
                    {{#if supplementary-options}}
                      <div class="hidden" data-container-of="{{slugify value}}">
                        {{#each supplementary-options}}
                          <div class="mdc-select hidden" data-supplement="{{@key}}" data-supplement-of="{{slugify ../value}}" data-mdc-auto-init="MDCSelect">
                            <span class="mdc-select__dropdown-icon"></span>
                            <select class="mdc-select__native-control" name="{{concat 'answers-' ../../../section '-' ../value '-supplement'}}">
                              <option default selected disabled>Please select&hellip;</option>
                              {{#each this}}
                                <option value="{{default value answer}}">{{answer}}</option>
                              {{/each}}
                            </select>
                            <div class="mdc-floating-label mdc-select__label--float-above" for="sort">
                              Main area of work
                            </div>
                            <div class="mdc-line-ripple"></div>
                          </div>
                        {{/each}}
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          {{/if}}

          {{#compare type "freetext" ~}}
            <div class="answer-block">
              <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
                <textarea id="{{slugify title}}" name="answers-{{../../section}}-{{value}}" class="mdc-text-field__input" rows="5" placeholder="{{placeholder}}" maxlength="32767"></textarea>
                <label for="{{slugify title}}" class="mdc-floating-label"></label>
              </div>
            </div>
          {{/compare ~}}
          {{#ifAny (compare type "measurement-foundation") (compare type "measurement-eds") ~}}
            <ul class="answer-block">
              {{#each (split "I can do this,I can partially do this,I can't do this" ",")}}
                <li class="answer" id="option-{{slugify (concat ../value '-' this)}}"{{#compare ../type "measurement-eds"}} onclick="{{#compare this 'I can do this'}}hide{{else}}show{{/compare}}Options('{{../value}}');"{{/compare}}>{{> components_radio_button label=this id=(slugify (concat this ../value)) name=(concat "answers-" ../../../section "-" ../value) value=value required="true"}}</li>
              {{/each}}
              {{#compare type "measurement-eds"}}
                {{#each (split "I’d like to learn how to do this,I have no interest in this" ",")}}
                  <li class="answer hidden option-eds-{{../value}}" id="option-{{slugify (concat ../value '-' this)}}">{{> components_checkbox label=this id=(slugify (concat this ../value)) name=(concat "answers-" ../../../section "-" ../value) value=value}}</li>
                {{/each}}
              {{/compare}}
            </ul>
          {{/ifAny ~}}
        </fieldset>
        {{/each ~}}
        <script>
          function showOptions(question) {
            $(".option-eds-"+question).removeClass('hidden');
          }
          function hideOptions(question) {
            $(".option-eds-"+question).addClass('hidden').find('.mdc-form-field').removeClass('checked');
          }

          document.addEventListener('DOMContentLoaded', function() {
            $('form.checkup-section').on('change', showHideOptional);
            showHideOptional();

            function showHideOptional() {
              var optionalQuestionBlocks = $('.question-block[data-show-field]');
              optionalQuestionBlocks.each(function(i, questionBlock) {
                var data = $(questionBlock).data();

                var checkValues = $('[name="' + data.showField + '"]:checked')
                  .map(function(i, field) { return $(field).val(); })
                  .toArray();

                if (checkValues.indexOf(data.showValue) > -1) {
                  $(questionBlock).removeClass('hidden').prop('disabled', false);
                } else {
                  $(questionBlock).addClass('hidden').prop('disabled', true);
                }
              });
            }

            $('.supplements').each(function (){
              var doit = false;
              if ($(this).is(':checked') || ($(this).is("select") && $(this).val() !== null)){
                var element = ($(this).is("select")) ? $(this).find('option:selected') : $(this);
                var supplement = element.data('supplement-target');
                let suppRef = $(this).attr("data-supplementor");
                openCloseSupplements(suppRef, supplement);
              }
            });

            $("*[data-supplementor]").change(function() {
              // console.log( "Handler for .change() called." );
              // Identify the option
              // console.log($(this).is("input"));
              var element = ($(this).is("select")) ? $(this).find('option:selected') : $(this);
              var supplement = element.data('supplement-target');
              // Identify its supplement
              // console.log("supplement is... " + supplement);
              // This thing's
              let suppRef = $(this).attr("data-supplementor");
              openCloseSupplements(suppRef, supplement);
            });

            function openCloseSupplements(suppRef, supplement){
              // console.log(suppRef);
              // supplement-of- ids
              // Close down all
              supplements = $('*[data-supplement-of="'+ suppRef +'"]');
              var found = false;
              supplements.each(function () {
                var suppElement = $(this);
                if (suppElement.data('supplement') == supplement){
                  // console.log('Opening...' + suppElement.data('supplement'));
                  suppElement.prop("disabled", false);
                  suppElement.removeClass("hidden");
                  found = true;
                }
                else {
                  // console.log('Closing...' + suppElement.data('supplement'));
                  suppElement.prop("disabled", true);
                  suppElement.addClass("hidden");
                }
              });
              if (found) {
                $('*[data-container-of="' + suppRef + '"]').removeClass('hidden');
              } else {
                $('*[data-container-of="' + suppRef + '"]').addClass('hidden');
              }
            }
          });
        </script>
        <div class="cta b-padding-full">
          <button type="submit" class="mdc-button mdc-button--raised">Next section</button>
        </div>
      </div>
    </div>
  </div>
</form>
{{/with ~}}