{{#compare @root.data.currentSite.name "organisation"}}
  <div class="container-home-hero">
    <div class="container-fluid">
      <div class="container-home v-padding-full">
        <h1 class="mdc-typography--headline3 v-margin-full">
          Benchmark your {{@root.data.currentSite.for_singular}} and plot a route ahead
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-home v-padding-full v-margin-full">
      <div class="mdc-typography--body2 t-margin-full" style="font-size:2rem;line-height:2rem;">
        Take our simple Digital Check-up to assess your current digital maturity and how this compares to other {{@root.data.currentSite.for_plural}}
      </div>
      <div class="cta v-padding-full t-margin-full">
        <a href="/checkup" class="btn btn-outline">Start the checkup</a>
    </div>
  </div>
{{else}}
  {{#compare @root.data.currentSite.type "organisation"}}
    <div class="container-home-hero"{{#compare @root.data.currentSite.name "housing"}} style="background-color:#003066;"{{/compare}}{{#compare @root.data.currentSite.name "default"}} style="background-color:#00509C;"{{/compare}}>
      <div class="container-fluid">
        <div class="container-home v-padding-full">
          <div class="mdc-layout-grid v-padding-full">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone v-margin-full">
                <h1 class="mdc-typography--headline2">
                  Benchmark your {{@root.data.currentSite.for_singular}} and plot a route ahead
                </h1>
                <div class="mdc-typography--headline5 t-margin-full">
                  Take our simple Digital Check-up to assess your current digital maturity and how this compares to other {{@root.data.currentSite.for_plural}}
                </div>
                <div class="cta v-padding-full">
                  <a href="/checkup" class="mdc-button mdc-button--raised">Start the checkup</a>
                  {{#unless (ifAny (compare @root.data.currentSite.name "default") (compare @root.data.currentSite.name "organisation")) ~}}
                  <p>
                    <a href="https://{{@root.context.domains.[0]}}">Not a {{@root.data.currentSite.for_singular}}?</a>
                  </p>
                  {{/unless ~}}
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                {{#compare @root.data.currentSite.name "housing" ~}}
                <img src="{{~>asset_url url='images/logos/sfha-large.png'~}}" style="max-width: 100%;" />
                {{else}}
                <img src="{{~>asset_url url='images/plot-route@2x.png'~}}" style="max-width: 100%;" />
                {{/compare ~}}
              </div>
            </div>
          </div>
          <div class="mdc-typography--body2 text-center b-margin-full">
            The information you provide will be stored in our database to allow us to analyse responses. Read our full <a href="/privacy">privacy notice</a>.
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{#compare @root.data.currentSite.type "skills"}}
      <div class="container-fluid">
        <div class="container-home v-padding-full">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <h1>Essential Digital Skills for life</h1>
                <p class="v-margin-full">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta felis ut nunc pharetra varius. Aliquam fermentum purus lectus, eget scelerisque ex laoreet a. Nam pretium imperdiet ex sed viverra. Sed interdum, eros ut aliquam fringilla, ex lacus suscipit massa, ac tristique magna arcu ac dui. Phasellus cursus vulputate iaculis. Aliquam fringilla felis eget nisl congue, in faucibus nunc fermentum. Nam lacinia imperdiet consequat. Praesent a ligula nisl. Pellentesque euismod lectus ut ex scelerisque rhoncus. Fusce ac sem diam. Morbi ut interdum risus, a vulputate dui.
                </p>
                <div class="cta v-padding-full b-margin-full text-center">
                  <a href="/life" class="mdc-button mdc-button--raised">Life skills checkup</a>
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <h1>Essential Digital Skills for work</h1>
                <p class="v-margin-full">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et sapien quis massa ultricies porta. Mauris ac auctor risus. Fusce suscipit tempor mauris. Sed imperdiet tortor elit, vel hendrerit diam blandit eget. Nullam iaculis eros mi, eget iaculis ipsum molestie at. Vivamus id mi et sapien tempor mollis vitae et diam. Sed auctor ornare velit.
                </p>
                <div class="cta v-padding-full b-margin-full text-center">
                  <a href="/work" class="mdc-button mdc-button--raised">Work skills checkup</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="container-fluid">
        <div class="container-home v-padding-full">
          <p class="v-margin-full">
            {{@root.data.currentSite.title}} home page
          </p>
          {{!-- <div class="cta v-padding-full">
            <a href="/checkup" class="mdc-button mdc-button--raised">Start the checkup</a>
          </div> --}}
        </div>
      </div>
    {{/compare}}
  {{/compare}}
{{/compare}}
{{#if @root.data.currentSite.sections_heading}}
<div class="container-home-pull v-padding-full sections">
  <div class="container-fluid">
    <div class="container-home">
      <h2 class="mdc-typography--headline3">
        {{{@root.data.currentSite.sections_heading}}}
      </h2>
      <div class="mdc-layout-grid v-padding-full">
        <div class="mdc-layout-grid__inner">
          {{#each @root.data.currentSite.sections}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-{{#compare @root.data.currentSite.name 'organisation'}}6{{else}}3{{/compare}}-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone v-margin-full text-center">
              {{!-- {{#if number}}
                <div class="number" style="background-color:#{{color}};">{{number}}</div>
              {{/if}} --}}
              <div class="{{class}} {{shape}}">
                <div class="{{shape}}-content">
                  {{#if (contains icon 'fa-')}}
                    <span class="far {{icon}} fa-4x fa-fw icon{{#if color}} text-{{color}}{{/if}}"></span>
                  {{else}}
                    <img src="{{~>asset_url url=(concat 'images/icon-' icon '@2x.png')~}}" title="{{title}}" class="icon" />
                  {{/if}}
                  <div class="icon-text mdc-typography--headline5 text-center">
                    <strong>{{{title}}}</strong>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#compare @root.data.currentSite.type "organisation"}}
  <div class="container-fluid b-padding-full">
    <div class="container-home b-padding-full text-center">
      <h2 class="mdc-typography--headline4">
        Get the support your {{@root.data.currentSite.for_singular}} needs
      </h2>
      <div class="mdc-typography--body1">
        Once you have completed the checkup, you can request 1:1 support to explore the resources most relevant to your needs.<br />
        If you would like to speak to us or have any questions, please email <a href="mailto:{{@root.data.currentSite.email}}">{{@root.data.currentSite.email}}</a>.
      </div>
      {{!-- <div class="cta v-padding-full">
        <a href="/checkup" class="mdc-button mdc-button--raised">Start the checkup</a>
      </div>
      <br /> --}}
    </div>
  </div>
{{/compare}}