{{#compare @root.data.currentSite.name "organisation"}}
  <div class="container-home-hero">
    <div class="container-fluid">
      <div class="container-home v-padding-full">
        <h1 class="mdc-typography--headline3 v-margin-full">
          Benchmark your {{@root.data.currentSite.for_singular}} and plot a route ahead
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-home v-padding-full v-margin-full">
      <div class="mdc-typography--body2 t-margin-full" style="font-size:2rem;line-height:2rem;">
        Take our simple Digital Check-up to assess your current digital maturity and how this compares to other {{@root.data.currentSite.for_plural}}
      </div>
      <div class="cta t-padding-full t-margin-full">
        <a href="/checkup" class="btn btn-outline">Start the checkup</a>
    </div>
  </div>
{{else}}
  {{#compare @root.data.currentSite.type "organisation"}}
    <div class="container-home-hero"{{#compare @root.data.currentSite.name "housing"}} style="background-color:#003066;"{{/compare}}{{#compare @root.data.currentSite.name "default"}} style="background-color:#00509C;"{{/compare}}>
      <div class="container-fluid">
        <div class="container-home v-padding-full">
          <div class="mdc-layout-grid v-padding-full">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone v-margin-full">
                <h1 class="mdc-typography--headline2">
                  Benchmark your {{@root.data.currentSite.for_singular}} and plot a route ahead
                </h1>
                <div class="mdc-typography--headline5 t-margin-full">
                  Take our simple Digital Check-up to assess your current digital maturity and how this compares to other {{@root.data.currentSite.for_plural}}
                </div>
                <div class="cta v-padding-full">
                  <a href="/checkup" class="mdc-button mdc-button--raised">Start the checkup</a>
                  {{#unless (ifAny (compare @root.data.currentSite.name "default") (compare @root.data.currentSite.name "organisation")) ~}}
                  <p>
                    <a href="https://{{@root.context.domains.[0]}}">Not a {{@root.data.currentSite.for_singular}}?</a>
                  </p>
                  {{/unless ~}}
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                {{#compare @root.data.currentSite.name "housing" ~}}
                <img src="{{~>asset_url url='images/logos/sfha-large.png'~}}" style="max-width: 100%;" />
                {{else}}
                <img src="{{~>asset_url url='images/plot-route@2x.png'~}}" style="max-width: 100%;" />
                {{/compare ~}}
              </div>
            </div>
          </div>
          <div class="mdc-typography--body2 text-center b-margin-full">
            The information you provide will be stored in our database to allow us to analyse responses. Read our full <a href="/privacy">privacy notice</a>.
          </div>
        </div>
      </div>
    </div>
    {{else}}
    {{#compare @root.data.currentSite.type "skills"}}
      <div class="container-home-hero">
        <div class="container-fluid">
          <div class="container-home v-padding-full">
            <h1 class="mdc-typography--headline3 v-margin-full">
              Measuring your Essential Digital Skills
            </h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container-home v-padding-full">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <h1>Life & Foundation Skills</h1>
                <p class="t-margin-full">
                  We encourage you to start with the Foundation skills checkup as these skills are the building blocks to develop your Essential Digital Skills from.
                </p>
                <p>
                  At the end, you will either be promoted to move to the Life skills checkup, or you will be provided with some resources to support you further.
                </p>
                <p class="b-margin-full">
                  The checklists should take no longer than ten minutes to complete. When you are finished you can choose to have your results emailed to you. If you do, please enter your email address in the box provided on the results page.
                </p>
                <div class="cta v-padding-full">
                  <a href="/life" class="btn btn-outline">Life skills checkup</a>
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <h1>Work Skills</h1>
                <p class="t-margin-full">
                  Work Skills are the digital skills you need to be able to do your job. We appreciate this may not be relevant to all job roles and not everyone is in employment, however if this applies to you and you would like to measure your Essential Digital Skills for the Workplace then you can complete the checkup here.
                </p>
                <p class="b-margin-full">
                  The work skills checkup can be completed independently from the Foundation and Life skills checklists, however, if you haven’t completed them before, we recommend doing these as well.
                </p>
                <div class="cta v-padding-full">
                  <a href="/work" class="btn btn-outline">Work skills checkup</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="container-fluid">
        <div class="container-home v-padding-full">
          <p class="v-margin-full">
            {{@root.data.currentSite.title}} home page
          </p>
          {{!-- <div class="cta v-padding-full">
            <a href="/checkup" class="mdc-button mdc-button--raised">Start the checkup</a>
          </div> --}}
        </div>
      </div>
    {{/compare}}
  {{/compare}}
{{/compare}}
{{#if @root.data.currentSite.sections_heading}}
<div class="container-home-pull v-padding-full sections">
  <div class="container-fluid">
    <div class="container-home">
      <h2 class="mdc-typography--headline3">
        {{{@root.data.currentSite.sections_heading}}}
      </h2>
      <div class="mdc-layout-grid v-padding-full">
        <div class="mdc-layout-grid__inner">
          {{#each @root.data.currentSite.sections}}
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-{{#compare @root.data.currentSite.name 'organisation'}}6{{else}}{{#compare @root.data.currentSite.name 'skills'}}12{{else}}3{{/compare}}{{/compare}}-desktop mdc-layout-grid__cell--span-{{#compare @root.data.currentSite.name 'skills'}}8{{else}}4{{/compare}}-tablet mdc-layout-grid__cell--span-4-phone v-margin-full text-center">
              {{!-- {{#if number}}
                <div class="number" style="background-color:#{{color}};">{{number}}</div>
              {{/if}} --}}
              <div class="{{class}} {{shape}}">
                <div class="{{shape}}-content">
                  {{#if (contains icon 'fa-')}}
                    <span class="far {{icon}} fa-4x fa-fw icon{{#if color}} text-{{color}}{{/if}}" style="width:8%;min-width:100px;"></span>
                  {{else}}
                    <img src="{{~>asset_url url=(concat 'images/icon-' icon '@2x.png')~}}" title="{{title}}" class="icon" />
                  {{/if}}
                  <div class="icon-text h-padding-full text-left">
                    <div class="mdc-typography--headline5">
                      <strong>{{{title}}}</strong>
                    </div>
                    {{#if description}}
                    <p style="margin:0;">
                      {{{description}}}
                    </p>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#compare @root.data.currentSite.type "organisation"}}
  <div class="container-fluid b-padding-full">
    <div class="container-home b-padding-full text-center">
      <h2 class="mdc-typography--headline4">
        Get the support your {{@root.data.currentSite.for_singular}} needs
      </h2>
      <div class="mdc-typography--body1">
        Once you have completed the checkup, you can request 1:1 support to explore the resources most relevant to your needs.<br />
        If you would like to speak to us or have any questions, please email <a href="mailto:{{@root.data.currentSite.email}}">{{@root.data.currentSite.email}}</a>.
      </div>
      {{!-- <div class="cta v-padding-full">
        <a href="/checkup" class="mdc-button mdc-button--raised">Start the checkup</a>
      </div>
      <br /> --}}
    </div>
  </div>
{{/compare}}